<div>
<div class="well">
	<h3>Menu</h3>
	<ul>
		<li><%= link_to "Organizational Units", organizational_units_path() %></li>
		<li>
			<%= link_to "Branch Servers" %>
			<ul>
				<li><%= link_to "New Branch Server", new_scbranchserver_path() %>
			</ul>
			
		</li>
		<li><%= link_to "POS Devices" %></li>
	</ul>
</div>
<div class="well">
	<h4><%= base_dn %> </h4>
	<ul>
		<% @ous.each do |ou| %>
			<li>
				<%= link_to ou.name, organizational_unit_path(ou) %>
				<ul>
					<% ou.locations.each do |location| %>
						<li><%= link_to location.name, edit_scbranchserver_path(location.dn) %></li>
					<% end %>		
				</ul>
			</li>
		<% end %>
	</ul>
</div>
</div>