<div>
<div class="well">
	<h3>Menu</h3>
	<ul>
		<li><%= link_to "Organizational Units", organizational_units_path() %></li>
		<li>
			<%= link_to "Branch Servers", scbranchservers_path() %>
		</li>
		<li><%= link_to "POS Devices" %></li>
	</ul>
</div>
<div class="well">
	<h4><%= base_dn %> </h4>
	<ul>
		<% @organizational_units.each do |ou| %>
			<li>
				<%= link_to ou.short_name, organizational_unit_path(ou.dn) %>
				
			</li>
		<% end %>
	</ul>
</div>
</div>