<%= form_tag(options_for_form_tag(action)[0],options_for_form_tag(action)[1]) do %>

	<fieldset>
		<legend>Choose Location</legend>
		<% if params[:action] == "edit" %>
		<%= select_tag "scLocation[parent]", options_for_select(@organizational_unit_collection, scLocation.parent_dn)  %>
		<% else %>
		<%= select_tag "scLocation[parent]", options_for_select(@organizational_unit_collection, params[:location])  %>
		<% end %>
		<hr/>
	</fieldset>
	<fieldset>
		<legend>Network Setup</legend>
		<div class="row">
			<%= column_input_div("Hostname", "scLocation[cn]", :placeholder => 'Name of the host') %>
			<%= column_input_div("Gateway", "scLocation[scDefaultGw]") %>
		</div>
		<div class="row">
			<%= column_input_div("Network Card", "scLocation[scNetworkcard][scDevice]", :placeholder => 'Ex: eth0') %>
			<%= column_input_div("IP Address", "scLocation[scNetworkcard][ipHostNumber]", :placeholder => "Network Card IP") %>
		</div>
		<div class="row">
			<%= column_input_div("Network Address", "scLocation[ipNetworkNumber]") %>
			<%= column_input_div("Network Mask", "scLocation[ipNetmaskNumber]") %>
		</div>
		<div class="row">
			<%= column_input_div("DHCP Dinamic Address start", "scLocation[scDhcpRange_start]") %>
			<%= column_input_div("DHCP Dinamic Address end", "scLocation[scDhcpRange_end]") %>
		</div>
		<div class="row">
			<%= column_input_div("DHCP Fixed Address start", "scLocation[scDhcpFixedRange_start]") %>
			<%= column_input_div("DHCP Fixed Address end", "scLocation[scDhcpFixedRange_end]") %>
		</div>
	</fieldset>
	<fieldset>
		<legend>Services</legend>
		<table class="services">
			<tr>
				<td><%= check_box_tag "scLocation[scService][dhcp]", 1, scLocation.scService("dhcp") %> DHCP </td>
				<td><%= check_box_tag "scLocation[scService][dns]",1, scLocation.scService("dns") %> DNS </td>
				<td><%= check_box_tag "scLocation[scService][tftp]",1, scLocation.scService("tftp") %> TFTP </td>
			</tr>
		</table>
	</fieldset>
	<fieldset>
		<legend>POS Devices Preferences</legend>
		<div class="row">
			<%= column_input_div("Name Prefix", "scLocation[scWorkstationBaseName]") %>
			<%= column_input_div("Number Prefix", "scLocation[scEnumerationMask]") %>
		</div>
	</fieldset>
	<fieldset>
		<legend>Activation Password</legend>
				<%= password_field_tag "scLocation[userPassword]", nil, :required => true %>
	</fieldset>


  <%= submit_tag "Save changes", :class => "btn large primary" %>
  <button type="reset" class="btn large" data-referer="<%= request.env['HTTP_REFERER'] %>">Cancel</button>
<% end -%>