<%= form_tag(options_for_form_tag(action)[0],options_for_form_tag(action)[1]) do %>
  
	<fieldset>
		<p>
			<strong>Name</strong><br/>
			<%= text_field_tag "organizational_unit[short_name]", value_for_field(organizational_unit, "short_name"), :required => true %>
		</p>
		<p>
			Description </br>
			<%= text_area_tag "organizational_unit[description]", value_for_field(organizational_unit, "description_text") %>
		</p>
	</fieldset>
	<%= submit_tag "Save Organizational Unit", :class => "btn large primary" %>
	<button type="reset" class="btn large" data-referer="<%= request.env['HTTP_REFERER'] %>">Cancel</button>

<% end -%>