<%= content_header("Organizational Units") %>
<%= link_to "Add Organizational Unit", new_organizational_unit_path(), :class => "content-header-menu" %>


<table class="zebra-striped">
	<tr>
		<td>Name</td>
		<td>DN</td>
		<td>Branchs</td>
		<td>POS Devices</td>
	</tr>
	<% @organizational_units.each do |ou| %>
		<tr>
			<td><%= link_to ou.name, organizational_unit_path(ou.dn) %></td>
			<td><%= ou.dn %></td>
			<td><%= ou.brachservers_qty %></td>
			<td><%= ou.posdevices_qty %></td>
		</tr>
	<% end %>
</table>