<%= content_header("Organizational Units") %>
<%= link_to "Add Organizational Unit", new_organizational_unit_path(), :class => "content-header-menu" %>


<table class="zebra-striped">
	<tr>
		<th>Name</th>
		<th>DN</th>
		<th>Branchs</th>
		<th>POS Devices</th>
	</tr>
	<% @organizational_units.each do |ou| %>
		<tr>
			<td><%= link_to ou.short_name, organizational_unit_path(ou.dn) %></td>
			<td><%= ou.dn %></td>
			<td><%= ou.brachservers_qty %></td>
			<td><%= ou.posdevices_qty %></td>
		</tr>
	<% end %>
</table>