<%= content_header("Organizational Unit: #{@organizational_unit.short_name.titleize}", "h1") %>
<div class="content-header-menu">
	<%= link_to "Edit Organizational Unit", edit_organizational_unit_path(@organizational_unit.dn)  %> |
	<%= link_to "Delete Organizational Unit", @organizational_unit.dn, :confirm => "Really want to DELETE this Organizational Unit?",:method => :delete %>
</div>
<div style="height: 70px">
	<div  style="float: right; margin-right: -300px">
		<table id="ou-stats">
			<tr>
				<td style="text-align: left">Branch Servers</td>
				<td style="text-align: right"><%= @organizational_unit.brachservers_qty %></td>
			</tr>
			<tr>
				<td style="text-align: left">POS Deveices</td>
				<td style="text-align: right"><%= @organizational_unit.posdevices_qty %></td>
			</tr>
		</table>
	</div>
	<div style="float: left;">
		<p>
			<%= @organizational_unit.description_text %><br/>
			<%= @organizational_unit.extensions.size %>
		</p>
	</div>
	
</div>
</div>
<div class="content">
	<%= content_header("Branch Servers", "h2
	") %>
	<div class="content-header-menu">
		<%= link_to "Add Branch Server", new_scbranchserver_path(:location => @organizational_unit.dn)  %> 
	</div>
	<br/>
	<table id="branchs" class="zebra-striped">
		<tr>
			<th>Name</th>
			<th>Network IP Address</th>
			<th>Network Mask</th>
			<th>POS Devices</th>
		</tr>
		<%= render :partial => "branch", :collection => @organizational_unit.branchs, :as => :branch %>
	</table>
</div>