<!DOCTYPE html>
<html>
<head>
  <title>POSAdmin</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div style="margin-bottom: 60px">
		<%= render "shared/header" %>
	</div>

	<div class="container-fluid">
		<div class="sidebar">
			<%= render :partial => "shared/sidebar" %>
		</div>
		<div class="content">
			<% if flash[:notice] %>
				<div id="notice" class="alert-message warning" data-alert>
					<a class="close" href="#">×</a>
					<p><%= flash[:notice] %></p>
				</div>
			<% end %>
			<% if flash[:alert] %>
				<div id="alert" class="alert-message error" data-alert>
					<a class="close" href="#">×</a>
					<p><%= flash[:alert] %></p>
				</div>
			<% end %>
			<%= yield %>
		</div>
	</div>
</body>
</html>
